@model ShopVM
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/assets/css/shop.css">

<main>
    <div class="head">
        <a asp-controller="Home" asp-action="Index">
            <div class="navigate">
                <i class="fa-solid fa-house-chimney"></i>
                Home
            </div>
        </a>
        <i class="fa-solid fa-chevron-right arrow"></i>
        <span>Products</span>
    </div>
    <div class="container">
        <div class="common">
            <h1 class="tittle">Products</h1>
            <div class="up">
                <div class="sort">
                    <span class="sort-by-word">Sort by:</span>
                    <div class="choose">
                        <div class="sort-up">
                            <span>Alphabetically,A-Z</span>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                        <div class="sort-down d-none">
                            <ul>
                                <li><span>Featured</span></li>
                                <li><span>Best Selling</span></li>
                                <li><span>Alphabetically,A-Z</span></li>
                                <li><span>Alphabetically,Z-A</span></li>
                                <li><span>Price,Low to High</span></li>
                                <li><span>Date,Old to New</span></li>
                                <li><span>Date,New to Old</span></li>
                            </ul>
                        </div>
                    </div>
                    <span class="product-count">@Model.Products.Datas.Count()</span>
                </div>
            </div>

            <div class="down">

                @foreach (var item in Model.Products.Datas)
                {
                    <div class="col-lg-3 col-md-4">
                        <div class="cart">
                            <a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@item.Id">
                                <div class="img">
                                    <img src="~/assets/images/products/@item.MainImage" alt="">
                                    <img src="~/assets/images/products/@item.SecondImage" alt="">
                                </div>
                            </a>
                            <div class="information">
                                <h6>@item.ProductName</h6>
                                <div class="stars">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= item.Raiting)
                                        {
                                            <i class="fa-solid fa-star active"></i>
                                        }
                                        else
                                        {
                                            <i class="fa-solid fa-star"></i>
                                        }
                                    }
                                </div>
                                <h6 class="price">$110.00</h6>
                                @if(item.InStock){
                                    <div class="stock-active">
                                        <div class="dot"></div>
                                        In Stock
                                    </div>
                                }
                                else
                                {
                                    <div class="stock-deactive">
                                        <div class="dot"></div>
                                        In Stock
                                     </div>
                                }
                                <button class="add-to-cart-button1" data-id="@item.Id">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                }


               
                

            </div>

            <nav aria-label="Page navigation example" style="margin-top:50px;">
                <ul class="pagination justify-content-center">
                    <li class="page-item @(Model.Products.HasPrevius? "":"disabled")">
                        <a class="page-link" asp-action="Index" asp-route-page="@(Model.Products.CurrentPage-1)" tabindex="-1">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.Products.TotalPage; i++)
                    {
                        <li class="page-item @(Model.Products.CurrentPage == i ? "disabled":"")"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
                    }
                    <li class="page-item @(Model.Products.HasNext? "":"disabled")">
                        <a class="page-link" asp-action="Index" asp-route-page="@(Model.Products.CurrentPage+1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>
