@model ShopVM
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/assets/css/shop.css">

<main>
    <div class="head">
        <a asp-controller="Home" asp-action="Index">
            <div class="navigate">
                <i class="fa-solid fa-house-chimney"></i>
                Home
            </div>
        </a>
        <i class="fa-solid fa-chevron-right arrow"></i>
        <span>Products</span>
    </div>
    <div class="container">
        <div class="common">
            <h1 class="tittle">Products</h1>
            <div class="up">
                <div class="sort">
                    <span class="sort-by-word">Sort by:</span>
                    <div class="choose">

                        <select name="cars" id="product-filter">
                            <option value="All">All</option>
                            <option value="Best Selling">Best Selling</option>
                            <option value="Alphabetically,A-Z">Alphabetically,A-Z</option>
                            <option value="Alphabetically,Z-A">Alphabetically,Z-A</option>
                            <option value="Price,Low to High">Price,Low to High</option>
                            <option value="Price,High to Low">Price,High to Low</option>
                            <option value="Date,Old to New">Date,Old to New</option>
                            <option value="Date,New to Old">Date,New to Old</option>
                        </select>
                        @*<div class="sort-up">
                            <span>Alphabetically,A-Z</span>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                        <div class="sort-down d-none">
                            <ul>
                                <li><span>Featured</span></li>
                                <li><span>Best Selling</span></li>
                                <li><span>Alphabetically,A-Z</span></li>
                                <li><span>Alphabetically,Z-A</span></li>
                                <li><span>Price,Low to High</span></li>
                                <li><span>Date,Old to New</span></li>
                                <li><span>Date,New to Old</span></li>
                            </ul>
                        </div>*@
                    </div>
                    <span class="product-count">@Model.Products.Datas.Count()</span>
                </div>
            </div>

            

            <div style="width:100%;" class="partial-sort-datas">
                <partial name="_ProductSortPartial" model="Model.Products" />
            </div>

            <nav aria-label="Page navigation example" style="margin-top:50px;">
                <ul class="pagination justify-content-center">
                    <li class="page-item @(Model.Products.HasPrevius? "":"disabled")">
                        <a class="page-link" asp-action="Index" asp-route-page="@(Model.Products.CurrentPage-1)" tabindex="-1">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.Products.TotalPage; i++)
                    {
                        <li class="page-item @(Model.Products.CurrentPage == i ? "disabled":"")"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
                    }
                    <li class="page-item @(Model.Products.HasNext? "":"disabled")">
                        <a class="page-link" asp-action="Index" asp-route-page="@(Model.Products.CurrentPage+1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>
